*{
    margin: 0;
    padding: 0;
}
body,button,input,select,textarea{
    font: 12px/24px Arial, 'Microsoft Yahei',"ו", sans-serif;
}
li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}
img{
    border: 0;
}
i,em{
    font-style: normal;
}
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clearfix {
    zoom:1; /* for IE6 IE7 */
}
.fn-hide {
    display:none;
}
/*header start*/
.header{
    min-width: 1000px;
    height: 90px;
    font-family: "Microsoft Yahei";
}
.header .siteNav-wrapper{
    height: 36px;
    line-height: 36px;
    background-color: #000;
}
.header .siteNav{
    width: 1000px;
    margin: 0 auto;

}
.header .siteNav-icon{
    width: 23px;
    height: 18px;
    display: block;
    float: left;
    margin-top: 10px;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
}
.header .icon-weibo{
    margin-left: 9px;
    background-position: -139px 0;
}
.header .icon-weixin{
    margin-left: 18px;
    margin-right: 18px;
    background-position: -162px 0;
    cursor: pointer;
    position: relative;
}
.header .icon-weixin img{
    position: absolute;
    z-index: 200;
    display: none;
    top: 25px;
    left: 0;
}
.header .icon-weixin:hover img{
    display: block;
}
.header .siteNav-group{
    padding: 0 14px;
    border-left: 1px solid #929292;
    color: #afafaf;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    float: left;
    height: 16px;
    line-height: 16px;
}
.header .head-search{
    float: left;
    margin-left: 5px;
    height: 28px;
    line-height: 28px;
    margin-top: 4px;
    background-color: #353535;
    position: relative;
    z-index: 201;
    /**width: 205px;*/
}
.header .head-search input[type="text"]{
    display: block;
    float: left;
    height: 28px;
    /**line-height: 28px;*/
    width: 170px;
    margin-left: 5px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;

    transition: width .5s;
    -moz-transition: width .5s;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
}
.header .head-search input[type="text"]:focus{
    width: 260px;
}
.header .search-button{
    float: left;
    width: 19px;
    height: 19px;
    margin: 5px;
    cursor: pointer;
    background: url(../images/icon.png) -185px 0;
    border:none;
    outline: none;
    text-indent: -10000px;
}
.header .head-search em{
    float: left;
    display: block;
    height: 19px;
    margin-top: 5px;
    border-left: 1px solid #898989;
}
.header a.special{
    color: #bb9a6c;
}
.header a.btn-subscribe{
    color: #bb9a6c;
}
.header .italic{
    cursor: pointer;
    font-style: italic;
    font-family: 'Times New Roman';
}
.header .before-login{
    float: right;
}
.header .before-login a{
    color: #afafaf;
    font-size: 14px;
    margin-right: 15px;
}
.header .nav{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
    z-index: 1001;
}
.header .nav ul{
    float: left;
    margin-top: 18px;
}
.header .nav li{
    display: block;
    height: 16px;
    line-height: 16px;
    float: left;
    border-right: 1px solid #c1c3c3;
}
.header .nav li a{
    color: #000;
    padding: 0 13px 0 12px;
}
.header .nav-part3{
    float: right;
    font-size: 12px;
    width: 90px;
    line-height: 24px;
}
.header .nav-part3 a{
    color: #000;
    padding-left: 15px;
}
/*header end*/
/*footer start*/
.footer{
    /*min-width: 1000px;*/
    font-family: "Microsoft Yahei";
}
.footer .footer-bg{
    height: 46px;
    overflow: hidden;
    background: url(../images/bg.jpg) repeat;
}
.footer .company{
    width: 930px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 46px;
}
.footer .company span{
    color: #787878;
}
.footer .company a{
    color: #787878;
    margin-right: 10px;
    margin-left: 10px;
}
.footer .company em{
    color: #616161;
    text-decoration: none;
}
.footer .bottom{
    height: 155px;
    /*opacity: .8;*/
    background-color: #000;
    overflow: hidden;
    position: relative;
}
.footer .country{
    width: 890px;
    margin: 20px auto;
    font-size: 12px;
    color: #696868;
    text-align: center;
    line-height: 15px;
}
.footer .country a{
    color: #696868;
}
.footer .abouts{
    width: 900px;
    margin: 0 auto;
    position: relative;
}
.footer .bottom-logo{
    width: 197px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 15px;
    background: url(../images/icon.png) 0 -19px;
}
.footer .bottom-right{
    margin-left: 215px;
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
    color: #787878;
}
.footer .bottom-right a{
    color: #787878;
    font-size: 14px;
    padding: 0 4px;
}
.footer .bottom-links{
    margin-top: 10px;
}
/*footer end*/
/*to top*/
.sidenav{
    position: fixed;
    z-index: 8000;
    right: 55px;
    bottom: 20px;
    font-family: "Microsoft Yahei";
}
.sidenav .to-module{
    width: 44px;
    height: 44px;
    margin-bottom: 2px;
    cursor: pointer;
    background-image: url(../images/float.png);
    background-position: 0px -44px;
    position: relative;
}
.sidenav .to-module:hover{
    background-position: -58px -44px;
}
.sidenav .to-module:hover .weixin-expand{
    display: block;
}
.weixin-expand{
    position: absolute;
    right: 46px;
    bottom: -10px;
    display: none;
}
.sidenav .to-top a{
    display: block;
    width: 44px;
    height: 44px;
    background: url(../images/float.png) no-repeat;
    cursor: pointer;
}
.sidenav .to-top a:hover{
    background-position: right top;
}
/*to top*/